<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe do Repositório</title>
    <link rel="stylesheet" href="../css/style-rep.css">
    <script src="../JS/repositorios.js" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="logo"></div>
            </div>
        </header>

        <section class="repos">
            <div class="repo-list">
                <div class="repo-card">
                    
                </div>
            </div>
        </section>
    </div>
    <footer>© Marcos Antunes 2024</footer>
</body>
</html>
